CompileFlags:
  Compiler: /opt/homebrew/bin/g++-16
  Add: [
    "-std=c++26",
    "-I.",
    "-fsized-deallocation",
    "-nostdinc++",
    "-isystem/opt/homebrew/Cellar/gcc/16.1.0/include/c++/16",
    "-isystem/opt/homebrew/Cellar/gcc/16.1.0/include/c++/16/aarch64-apple-darwin25"
  ]
